[project]
	description = Android Build System For (Resurrection Remix)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Akhil Narang (akhilnarang)
[access "refs/for/refs/*"]
	read = group user/Akhil Narang (akhilnarang)
	push = group user/Akhil Narang (akhilnarang)
	label-Code-Review = -2..+2 group user/Akhil Narang (akhilnarang)
	label-Verified = -1..+1 group user/Akhil Narang (akhilnarang)
	rebase = group user/Akhil Narang (akhilnarang)
	removeReviewer = group user/Akhil Narang (akhilnarang)
	submit = group user/Akhil Narang (akhilnarang)
[access "refs/heads/*"]
	read = group user/Akhil Narang (akhilnarang)
	create = group user/Akhil Narang (akhilnarang)
	push = +force group user/Akhil Narang (akhilnarang)
	pushMerge = group user/Akhil Narang (akhilnarang)
[access "refs/tags/*"]
	push = +force group user/Akhil Narang (akhilnarang)
	pushTag = group user/Akhil Narang (akhilnarang)
	pushSignedTag = group user/Akhil Narang (akhilnarang)
